---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactForm from '../components/ContactForm.astro';
import PppForm from '../components/PppForm.astro';

export async function getStaticPaths() {
    const pages = await getCollection('pages');
    return pages.map((page) => {
        return {
            params: { slug: page.slug },
            props: { page }
        };
    });
}

type Props = { page: CollectionEntry<'pages'> };

const { page } = Astro.props;
const { title, seo } = page.data;
const { Content } = await page.render();
---

<BaseLayout title={seo?.title ?? title} description={seo?.description} image={seo?.image} showHeader={false}>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">{title}</h1>
    <article class="mb-12 text-normal leading-normal">
        <div class="max-w-none prose prose-dante sm:prose-md">
            <Content />
        </div>
    </article>
    {page.slug === 'contact' && <ContactForm />}
    {page.slug === 'ppp' && <PppForm />}
</BaseLayout>