---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import SpeakingPreview from '../components/SpeakingPreview.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc } from '../utils/data-utils';

const speaking = (await getCollection('speaking')).sort(sortItemsByDateDesc);

const upcomingSpeaking = speaking.filter(({ data }) => {
    const today = new Date();
    const gigDate = new Date(data.publishDate);
    return gigDate >= today;
});

const pastSpeaking = speaking.filter(({ data }) => {
    const today = new Date();
    const gigDate = new Date(data.publishDate);
    return gigDate < today;
});

---

<BaseLayout title="Kelly Vaughn | Engineering Leader, Speaker, Author" description={siteConfig.description} image={siteConfig.image}>
    <Hero />
    {
        upcomingSpeaking?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-4 text-xl font-serif italic sm:mb-4 sm:text-2xl">Upcoming speaking events</h2>
                {upcomingSpeaking.map((gig) => (
                    <SpeakingPreview gig={gig} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/speaking">View All Past + Upcoming Sessions</Button>
                </div>
            </div>
        )
    }
    <div class="mb-16 sm:mb-24">
        <h2 class="mb-4 text-xl font-serif italic sm:mb-4 sm:text-2xl">What I'm up to</h2>
        <ul class="list">
            <li class="mb-4 max-w-none prose prose-dante sm:prose-md">
                I'm about to fly to Sweden to record a new season of <a href="https://ladybug.dev">Ladybug Podcast</a>. Season 7 will be focused entirely on engineering leadership, and the episode list is available on the Ladybug Podcast website. We're open to sponsorships if you're interested in reaching our large audience.
            </li>
            <li class="mb-4 max-w-none prose prose-dante sm:prose-md">
                I'm currently booking speaking engagements for 2025. If you're interested in having me speak at your event, please reach out to me <a href="/contact">here</a>.
            </li>
        </ul>
    </ul>
</BaseLayout>
