---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Submission Received!">
  <div class="container">
    <main>
      <h1 class="mb-8 text-2xl leading-tight font-serif italic sm:mb-8 sm:text-4xl">Submission Received!</h1>
      <p>
        Thank you for your message! I'll get back to you as soon as I can. For now, you can head back <a href="/">home</a>.
      </p>
    </main>
  </div>
</BaseLayout>
<style>
  html {
    margin: 0 30px;
  }
</style>