---
import Button from "./Button.astro";
const labelClasses = "text-md mb-1 block italic leading-tight font-serif font-medium group-hover:underline group-hover:decoration-dashed group-hover:underline-offset-4 group-hover:decoration-1"
---

<div class="feedback-form">
  <form
    data-netlify="true"
    netlify-honeypot
    name="contact"
    method="POST"
    action="/success"
  >
    <input type="hidden" name="form-name" value="contact" />
    <label class={labelClasses} for="name">Name</label>
    <input class="mb-6 w-full bg-transparent dark:border-gray-600 border border-main p-2" id="name" type="text" name="name" />
    <label class={labelClasses} for="email">Email</label>
    <input type="email" name="email" id="email" class="mb-6 w-full bg-transparent dark:border-gray-600 border border-main p-2" required />
    <label class={labelClasses} for="message">Message</label>
    <textarea class="mb-6 h-36 w-full bg-transparent dark:border-gray-600 border border-main p-2" id="message" wrap="soft" name="message" required></textarea>
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="bot-field" />
      </label>
    </p>
    <Button type="submit">Submit</Button>
  </form>
</div>