html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, button, textarea {
	font-family: 'Noto Sans SC', sans-serif;
}

body {
	font-family: 'Noto Sans SC', sans-serif;
	line-height: 1.4;
	color: #6a6a6a;
	box-sizing: border-box;
	padding-bottom: 60px;
}

a {
	color: #303030;
	&:hover {
		color: purple;
	}
}

h1 {
  font-family: 'Playfair Display', serif;
	font-weight: 300;
	font-size: 3rem;
	margin: 0 auto;
	color: #202020;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 200;
	letter-spacing: 1px;
	font-size: 1.8rem;
	margin: 0 auto;
	color: #202020;
}

h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 200;
	letter-spacing: 1px;
	font-size: 1.4rem;
	margin: 0 auto 8px;
	color: #202020;
}

h3 + p {
	font-weight: 300;
	a {
		text-decoration: none;
	}
}

b, strong {
	font-weight: 600;
}

ul.disc {
	list-style: disc;
	margin: 12px 0 30px;
	padding: 0 0 0 20px;
	li {
		line-height: 1.4;
		margin-bottom: 8px;
		font-weight: 300;
	}
	a {
		text-decoration: none;
	}
}

.summary {
	font-weight: 300;
	line-height: 1.6;
	.now li {
		margin-bottom: 0.5em;
	}
	ul.disc a {
		text-decoration: underline;
	}
}

.nownownow {
	font-size: 0.75em;
}

.header-links {
	a {
		color: #ffffff;
		text-decoration: none;
		font-size: 0.9em;
		letter-spacing: 0.5px;
		font-weight: 300;
		margin: 0 0 4px 16px;
		display: inline-block;
	}
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	.social li {
		display: inline-block;
		margin-left: 12px;
		margin-top: 4px;
		a {
			color: #ffffff;
		}
	}
}

.siteHeader {
	max-width: 960px;
	margin: 30px auto;
	p {
		margin-top: 12px;
	}
}

.home-flex, .inner-flex {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 30px;
	.home-content, .inner-content, .home-image, .inner-image {
		width: calc(50% - 30px);
	}
}

.home-flex {
	p {
		margin: 0 auto 30px;
		font-size: 1.3rem;
		font-weight: 200;
		letter-spacing: 0.015em;
		color: #6a6a6a;
		line-height: 1.6;
		@media (max-width: 800px){
			font-size: 1.1rem;
		}
	}
	a {
		color: #6a6a6a;
		text-decoration: none;
		font-weight: 700;
		&:hover {
			color: purple;
		}
	}
	ul.social {
		margin-top: 12px;
		li {
			display: inline-block;
			margin-right: 12px;
			font-size: 2rem;
			a {
				color: #919191;
			}
		}
	}
}

.inner-flex {
	p {
		margin-bottom: 20px;
	}
}

@media (max-width: 800px){
	h1 {
		font-size: 2rem;
		margin: 0 auto 12px;
		display: block;
	}
	h2 {
		font-size: 1.4rem;
		margin: 0 auto;
	}
	.home-flex, .inner-flex {
		margin-top: 0;
		.home-content, .home-image, .inner-content, .inner-image {
		width: 100%;
			img {
				display: block;
				width: 100%;
				max-width: 450px;
				margin: 0 auto;
			}
		}
	}
}